.menu-list li:nth-child(3)::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #D8385E;
    border-radius: 4px;
    bottom: -44px;
   
}
.SobreEmpresa{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 120px;
    height: auto;
    background: #fff;
    box-shadow: 0px 2px 20px #46464615;
    align-items: center;
    justify-items: center;
}
.introducao{
    display: grid;
    padding: 64px 0px 64px 100px;
    text-align: left;
    gap: 25px;
    align-content: center;
    justify-items: start;
}


.introducao h1 {
    color: #47393C;
    font-size: 64px;
    max-width: 20ch;
}

.introducao p{
    color: #605356;
    font-size: 16px;
    max-width: 90ch;
}
.introducao-cover{
    display: block;
    width: 270px;
}
form{
    display: flex;
    align-items: center;
    width:95%;
    gap:20px;
}
form .input-group {
    flex: 1; /* cada um pega 50% */
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: #FFF3F6;
    border-radius: 5px;
    outline: none;
    border: 1px solid #47393c2c;
    padding: 15px;
    font-size: 15px;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #3d3b3b73;
}
form .input-group button{
    padding: 15px;
    width: 100%;
    font-weight: 500;
    background:#FFBE40;
    border-radius: 40px;
    outline: none;
    border: none;
    color: #47393C;
    cursor: pointer;
    font-size: 16px;
}
img{
    width: 100%;
}

@media (max-width:1000px) {
.SobreEmpresa{
    grid-template-columns: 1fr;
}
.introducao{
    padding-right: 100px;
}
.introducao-cover{
    display: none;
}
form{
    width: 100%;
}
}

@media (max-width:600px) {
    form{
        flex-direction: column;
        align-items: stretch;
    }

    .introducao{
        padding: 30px 50px 30px 50px;
    }
    .introducao h1 {
        font-size: 40px;
    }
}

@media (max-width:340px) {
    .introducao h1 {
        font-size: 30px;
    }
}