
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body{
    background: #FFF3F6;
}
header{
    background: #ffff;
    box-shadow: 0px 2px 20px #46464611;
}
.menu{
    display: flex;
    justify-content:  space-evenly;
    padding: 35px 0px;
}
.menu img{
    width: 170px;
    transition: 0.5s ease-in-out;
}
.menu img:hover{
    transform: scale(1.20);
}  
.menu-list{
    display: flex;
    align-items: center;
}
.menu-list ul{
    display: flex;
    list-style: none;
    gap: 60px;
}
.menu-link{
    text-decoration: none;
    font-size: 20px;
    color: #47393C;
    font-weight: 600;
}

.registrar-button-1{
    display: flex;
    align-items: center;
}

.registrar-button-1 button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #D8385E;
    box-shadow: 0px 2px 20px #46464615;
}
.registrar-button-1 button a {
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    font-size: 18px;
}